/********** RWD **********/

@media all and (max-width:930px) {

    /***** DICE GAME *****/

    .home-title-dice {
        align-items: center !important;
        padding-left: 0 !important;

        h1 {
            font-size: 30px !important;
        }
    }
}

@media all and (max-width:730px) {

    /***** BALL GAME *****/

    .input-ballGame {
        width: 400px;
        margin: 10px;
    }

    /***** FOOTER *****/

    footer {
        flex-direction: column;
        margin: 0;
            .copyrights {
                margin-left: 10px;
            }

            .mail,
            .phoneNumber {
                margin: 0 10px !important;
            }
    }

    /***** DICE GAME *****/

    .navDice {
        ul {
            justify-content: center !important;
            padding-left: 0 !important;
        }
        a {
            padding: 0 !important;
        }
    }

    .tirage {
        width: auto !important;
    }
}

@media all and (max-width:620px) {

    /***** INDEX *****/

    .indexMain .games {
        flex-direction: column;
        margin: 0px !important;
    }

    /***** DICE GAME *****/

    .navDice ul {
        flex-direction: column;
        align-items: center;
    }

    /***** BALL GAME *****/

    .question input {
        height: 200px;
        width: 300px;
    }
}

@media all and (max-width:550px) {

    /***** DICE GAME *****/

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media all and (max-width:400px) {

    /***** INDEX *****/

    .indexBody .indexMain {
        .home-title-index h1 {
            font-size: 30px;
        }
    }

    /***** BALL GAME *****/

    .input-ballGame {
        width: 280px;
        margin: 10px;
    }
    .response {
        width: 280px;
    }
    .ifempty {
        width: 280px;
        margin: 10px;
    }
}